.scene {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    border: none !important;
    outline: none !important;
}

.coordinates {
    position: absolute;
    top: 32px;
    left: 32px;
    // transform: translateX(-50%);
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    user-select: none;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.players {
    position: absolute;
    top: 120px; left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 14px;
    color: rgba(255, 255, 255, .5);

    p {
        margin: 0;
        padding: 0;
    }
}
