.scene {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.coordinates {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    color: white;
    user-select: none;
    pointer-events: none;
}

.players {
    position: absolute;
    top: 32px; left: 32px;
    display: flex;
    flex-direction: column;

    p {
        margin: 0;
        padding: 0;
        color: rgb(0, 56, 0);
    }
}
